black==24.4.2
deta==1.2.0
fastkml==0.12
geopy==2.4.1
ipykernel==6.29.5
loguru==0.7.2
mypy==1.10.1
numpy==1.26.4
openpyxl==3.1.5
plotly==5.22.0
polars==1.0.0
pymupdf==1.24.7
pytest==8.2.2
python-dotenv==1.0.1
scipy==1.14.0
streamlit-authenticator==0.3.2
streamlit-lottie==0.0.5
streamlit==1.36.0
wetterdienst==0.88.0
xlsx2csv==0.8.2
XlsxWriter==3.2.0
