black
deta
geopy
ipykernel
langchain
loguru
mypy
numpy
openai
openpyxl
pandas
pandas-stubs
plotly
polars
pygithub
pytest
python-dotenv
scipy
streamlit
streamlit-authenticator
streamlit-lottie
wetterdienst
xlsx2csv
XlsxWriter
