black==23.12.1
deta==1.2.0
fastkml==0.12
geopy==2.4.1
ipykernel==6.28.0
loguru==0.7.2
mypy==1.8.0
numpy==1.26.3
openpyxl==3.1.2
pandas
plotly==5.18.0
polars
pytest==7.4.4
pytest-sugar==0.9.7
python-dotenv==1.0.0
scipy==1.11.4
sentry-sdk==1.39.1
streamlit-authenticator==0.2.3
streamlit-lottie==0.0.5
streamlit==1.29.0
wetterdienst==0.71.0
xlsx2csv==0.8.2
XlsxWriter==3.1.9
