black
deta
fastkml
geopy
ipykernel
loguru
mypy
numpy
openpyxl
pandas
pandas-stubs
plotly
polars
pytest
pytest-sugar
python-dotenv
scipy
sentry-sdk
streamlit
streamlit-authenticator
streamlit-lottie
wetterdienst
xlsx2csv
XlsxWriter
